prometheus:
  image: prom/prometheus:latest
  container_name: prometheus
  volumes:
    - prometheus_data:/etc/prometheus/
  command:
    - '--config.file=/etc/prometheus/prometheus.yml'
  ports:
    - "9090:9090"
  depends_on:
    - app

volumes:
  prometheus_data:
